<%- include('../../layout/head.ejs')%>

<body>
    <h1>Results</h1>
    <p><a href="/">Home</a></p>

    <main>
        <% bookArray.forEach(showBook => { %>
            <%- include('../../layout/book.ejs', {showBook}) %>
            <% }) %>
    </main>
</body>

</html>