<%- include('../layout/head.ejs')%>

    <body>
        <%- include('../layout/header.ejs')%>
            <h4>
                <%= savedBooksArr.length %> Saved Books</h4>
            <main>
                <% savedBooksArr.forEach(showBook => { %>
                    <%- include('../layout/book.ejs', {showBook}) %>
                        <% }) %>
            </main>

    </body>

    </html>