
    <section>
        <img src="<%= showBook.image_url %>" alt="">
        <h2>
            <%= showBook.title %>
        </h2>
        <p>
            <%= showBook.author %>
        </p>
        <a href="/books/<%=showBook.id%>"><button>View Details</button></a>
    </section>